<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./cart.css">
    </head><script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        </style>
    <body>
        <div id="body">
            <a href="/product">Back</a>
            <h1>MY CART</h1>   
        </div>
        
        <div id="cart_prod"> </div>
        <div id="amount">
            <label>Total Amount:</label>
            <span id="total">Rs.0</span>
        </div> 
        <div id="Empty" style="display: none;">Your Cart is Empty</div>
    </body>
    <script src="./cart.js"></script>
</html>