<!DOCTYPE html>
<html>
    <head><script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="./changepassword.css">
    </head>
    <body>
        <h1>Change your login details</h1>
        <div>
            <p>The Password has to be</p>
            <ul>
                <li id="length" class="invalid">Minimum 8 characters long and maximum 15 character</li>
                <li id="upper" class="invalid">One Uppercase letter atleast</li>
                <li id="lower" class="invalid">One Lower case letter atleast</li>
                <li id="num" class="invalid">One Number</li>
                <li id="special" class="invalid">One Special character</li>
            </ul><br>
            <input type="password" placeholder="  New Password" id="pass" required><span class="material-symbols-outlined" id="eye">visibility</span><br><br>
            <input type="password" placeholder="  Confirm Password" id="conpass" required><span class="material-symbols-outlined" id="eye2">visibility</span><label id="label">Password and confirm password should be same</label><br><br>
            <input type="submit" value="Update" id="update">
            <div id="pop"></div>
            <% if(data){%>
                <p><%= data %></p>
           <% }%>
        </div>
    </body>
    <script src="./changepassword.js">
        
    </script>
</html>