<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="./homepage.css">
      </head>
   <body>
      <div id="main">
      <div id="home">
         <h1>Home Page</h1>
            <a href="/login">LOGIN</a>
            <a href="/signup">Signup</a>
      </div>
      </div>
   </body>
</html>
