<html>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <head>
    <link rel="stylesheet" href="./product.css">
  </head>
<body>
    <%-include ("header",{data:data})%>
    <div id="products"></div>
    <div id="pop"></div>
    <input type="button" value="View More" id="view">
    </body>
  <script src="./product.js"></script>
</html>